
<mat-card>
  <mat-card-header><mat-card-title>Chapter 4 - 2</mat-card-title></mat-card-header>

  <mat-card-content>
    <mat-input-container>
      <input matInput type="text" placeholder="Enter name"
             (input)="onInputHandler(myInput.value)" #myInput>
    </mat-input-container>
  </mat-card-content>

  <mat-card-content>
    <mat-input-container>
      <input matInput type="text" placeholder="Enter id"
      [(ngModel)]="userId">
    </mat-input-container>
      <button mat-raised-button color="primary" (click)="onClickHandler()" >Click</button>
    <p>
      Your id : {{id}}
    </p>
  </mat-card-content>

</mat-card>
